.toolbar{
    width: 100%;
    margin: 0%;
    background-color: #3f51b5;
    display: inline-block;
}

.tittle{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 50px;
    float: left;
    padding-top: 30px;
    color: white;
}

img{
    float: left;
}

body{
    margin: 0%;
    width: 100vw;
    height: 100vh;

}

.run{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.errors
{color: red;}

.tokens
{color: blue;}

.scroll {
    margin-right: 0;
    max-height: 250px;
    overflow-y: auto;
}

.container{
    overflow-x: hidden;
}

