<div class="container">
    <div class="toolbar">
        <img src="../../assets/1317166359.svg" style="height: 100px; width: 120px;" />
        <h1 class="tittle">miniPython</h1>

        <button mat-fab color="basic" class="run" (click)="onSave()">
            <mat-icon>save</mat-icon>
        </button>

        <button mat-fab color="basic" class="run" (click)="onRun()">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </div>

    <div class="row">
        <div class="col-md-7">

            <button #file mat-flat-button color="primary" style="width: 100%; margin-bottom: 10px;">Open file...
                <input type='file' (change)="fileChanged($event)">
            </button>

            <div class="app-ace-editor" #editor style="height: 65vh;"></div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12" style="padding: 0px;">
                    <mat-card class="scroll">
                        <mat-card-title-group>
                            <mat-card-title>Console</mat-card-title>
                        </mat-card-title-group>
                        <mat-card-content>
                            <h3 *ngIf="lexerErrors.length > 0">Lexer errors:</h3>
                            <p class="errors" *ngFor="let error1 of lexerErrors">{{error1}}</p>
                            <h3 *ngIf="parserErrors.length > 0">Parser errors:</h3>
                            <p class="errors" *ngFor="let error2 of parserErrors">{{error2}}</p>
                            <h3 *ngIf="otherErrors.length > 0">Other errors:</h3> 
                            <p class="errors" *ngFor="let error3 of otherErrors">{{error3}}</p>
                        </mat-card-content> 
                    </mat-card>
                </div> 
                <div class="col-md-12" style="margin-top:20px;  padding: 0px;">
                    <mat-card class="scroll">
                        <mat-card-title-group>
                            <mat-card-title>Scanner</mat-card-title>
                        </mat-card-title-group>
                        <mat-card-content>
                            <h3 *ngIf="tokens.length > 0">Tokens:</h3> 
                            <p class="tokens" *ngFor="let token of tokens">{{token}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>